.customCheckboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.customCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgb(202, 202, 202);
}

.customCheckbox::after {
  content: "";
  display: none;
  width: 14px;
  height: 5px;
  border-top: 2px solid rgb(0, 216, 0);
  border-right: 2px solid rgb(0, 216, 0);
  transform: rotate(135deg);
}

.customCheckbox:checked::after {
  display: block;
}

.labelCustomCheckbox {
  font-size: 24px;
  color: grey;
  cursor: pointer;
  word-break: break-all;
}

.labelCustomCheckbox.labelChecked {
  text-decoration: line-through;
  color: rgb(202, 202, 202);
}
